<html lang="en">
<head>
  <title>DFK History - About</title>
  <meta property="og:title" content="About DFK History">
  <meta property="og:description" content="FAQ and other information about the DFK History tool.">
  <link rel="shortcut icon" href="/static/images/favicon.png" />
  <meta property="og:image" content="/static/images/favicon.png">
  <link rel="stylesheet" type="text/css" href="/static/herohistory.css" media="screen" />
  <script src="/static/herohistory.js" type="text/javascript"></script>
</head>
<body>
<script>

</script>
<a href="/" title="Return to Home"><div id="pageTitle"><div>DFK History</div><img style="position:relative;left:-8px;top:-8px;" src="/static/images/line.png" /></div></a>
<div style="position:fixed;left:0;bottom:80px;margin:16px;"><a href="/player" title="Member Page"><img style="width: 64px;" src="/static/images/player.png" /></a></div>
<div style="position:fixed;left:0;bottom:160px;margin:16px;"><a href="/pets" title="Return to Pet Selection"><img style="width: 64px;" src="/static/images/pets-icon.png" /></a></div>
<div style="position:fixed;left:0;bottom:0px;margin:16px;"><a href="/heroes" title="Return to Hero Selection"><img style="width: 64px;" src="/static/images/oldportal.png" /></a></div>
<div id="pageContainer">
  <h2><div style="padding-top:100px;">DFK History</div></h2>
  <p>DFK History is a 3rd party tool for use with <a href="https://www.defikingdoms.com">Defi-Kingdoms</a>, a cross-chain blockchain based Fantasy role playing game.  The DFK History tool provides a detailed history of blockchain game events for heroes and pets.  While this information is publicly available to all on the blockchain, it is for the most part encoded and hard to get to.  It is presented here in an easily discoverable fashion.</p>
  <h2><div style="padding-top:100px;">Frequently Asked Questions</div></h2>
  <ul>
    <li style="color:aliceblue;"><span style="font-style:italic;font-weight: bold;">How long does it take for exents to show up in history?</span> Up to 2 hours.</li>
    <li style="color:aliceblue;"><span style="font-style:italic;font-weight: bold;">How can I tell what user an address is for?</span>  If you click on an abbreviated address in any of the lists, the full address will be copied to your clipboard, and the DFK profile name of the address will be looked up and replace the address if available.</li>
    <li style="color:aliceblue;"><span style="font-style:italic;font-weight: bold;">How do I know what stats went up for a listed level up?</span> Hover over the summary in the Stat Ups column and a tool tip will pop up with the details.</li>
    <li style="color:aliceblue;"><span style="font-style:italic;font-weight: bold;">What does the green bar mean on the pet display page?</span> The bar represents how close to the maximum bonus value that pet has.  You can hover over it to see the exact range values.</li>
  </ul>
  <h2><div style="padding-top:48px;">Developed by MellowGreenGiant.</div></h2>
  <img src="/static/images/MellowGreenGiant.png" style="width:200px;"/>
  <h3><div style="padding-top:48px;">To contribute to paying ongoing hosting fees and further development of this tool, please send donations to <span style="cursor: pointer;color:lightgreen;" onclick="navigator.clipboard.writeText('0xF4A6a8d2c9dDe9Fecd6020851c6212b43C20d97E');" title="Click to copy">0xF4A6a8d2c9dDe9Fecd6020851c6212b43C20d97E</span> .</div></h3>
  <h3>Or better yet, click the golden idol icon on the left bar to join the site and enjoy member features.</h3>
  <h3>If you have suggestions or questions about the site, message me on discord username <span style="cursor: pointer;color:lightgreen;" onclick="navigator.clipboard.writeText('ioscode');" title="Click to copy">ioscode</span></h3>
</div>
<div style="position:fixed;right:0;bottom:0px;margin:8px;"><a href="https://github.com/pwillworth/dfkhistory" title="Go to GitHub project page to view code or report issues."><img style="width: 64px;" src="/static/images/github-mark.png" /></a></div>
</body>
</html>