<html lang="en">
<head>
  <title>DFK History</title>
  <meta property="og:title" content="DFK History">
  <meta property="og:description" content="DFK Kingdoms game event history.">
  <link rel="shortcut icon" href="/static/images/favicon.png" />
  <meta property="og:image" content="/static/images/favicon.png">
  <link rel="stylesheet" type="text/css" href="/static/herohistory.css" media="screen" />
  <script src="/static/herohistory.js" type="text/javascript"></script>
</head>
<body>
<script>
</script>
<div id="pageTitle"><div>DFK History</div><img style="position:relative;left:-8px;top:-8px;" src="/static/images/line.png" /></div>
<div id="launchContainer">
    <h1>Welcome to DFK History.  Click a Tool To Get Started.</h1>
    <div class="ib"><a href="/heroes" title="Hero Selection"><img style="width: 128px;" src="/static/images/oldportal.png" /></a><h2>Heroes</h2></div>
    <div class="ib"><a href="/pets" title="Pet Selection"><img style="width: 128px;image-rendering: pixelated;" src="/static/images/pets-icon.png" /></a><h2>Pets</h2></div>
    <div class="ib"><a href="/equipment" title="Equipment Selection"><img style="width: 128px;image-rendering: pixelated;" src="/static/images/equipment-icon.png" /></a><h2>Equipment</h2></div>
    <div class="ib"><a href="/player" title="Player History"><img style="width: 128px;" src="/static/images/player.png" /></a><h2>Player</h2></div>
</div>
<div style="position:fixed;right:0;bottom:0px;margin:8px;"><a href="/about" title="FAQ"><img style="width: 64px;opacity: 65%;" src="/static/images/help.png" /></a></div>
</body>
</html>